.restaurant-item {
  display: flex;
  border-radius: 5px;
  height: 30vh;
  max-height: 4.5rem;
  width: 50vw;
  max-width: 30rem;
  align-items: center;
  background-color: #ece5dd;
  padding: 1em;
}

.restaurant-title {
  flex: 8;
  color: black;
}

.restaurant-heart-icon {
  flex: 1;
  cursor: pointer;
}

.restaurant-delete-icon {
  flex: 1;
  cursor: pointer;
}

.eats-history-title {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .food-card {
    min-width: 30vh;
  }
}
