.food-list {
  color: #128c7e;
}

.food-list .food {
  background-color: #ece5dd;
}

.food-card {
  display: flex;
  border-radius: 5px;
  height: 30vh;
  max-height: 4.5rem;
  width: 50vw;
  max-width: 16rem;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.food-eat-icon {
  cursor: pointer;
}

.food-delete-icon {
  cursor: pointer;
}

.eats-history-title {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .food-card {
    min-width: 30vh;
  }
}
