.food-list {
  color: #128c7e;
}

.food-list .food {
  background-color: #ece5dd;
}

.food {
  display: flex;
  border-radius: 5px;
  height: 10vh;
  width: 30vw;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.food-eat-icon {
  cursor: pointer;
}

.food-delete-icon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .food {
    min-width: 30vh;
  }
}

.btn-addfoodcard {
  width: 50px;
}
