.l-header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 10vh;
}

.l-food-list {
  display: grid;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .l-food-list {
    min-height: 80vh;
  }
}

@media (max-width: 768px) {
  .l-food-list {
    min-height: 45vh;
  }
}
