.l-header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 10vh;
}

.l-food-list {
  display: grid;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 1024) {
  .l-food-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768) {
  .l-food-list {
    grid-template-columns: 1fr;
  }
}
