.l-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 10vh;
}

.l-header h1 {
  cursor: pointer;
}

.l-food-list {
  display: grid;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  justify-items: center;
}

.food {
  display: flex;
  border-radius: 5px;
  height: 10vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

.btn-addfoodcard {
  width: 50px;
}

@media (max-width: 768px) {
  .food {
    min-width: 30vh;
  }
}
