.div {
  border: 0cap;
}

/* if need to be darkened */
.is-unfocused {
  /* opacity: 0.5; */
  filter: brightness(48%);
}

/* pointer */
.cursor-pointer {
  cursor: pointer;
}

/* pop on hover and dim other*/

/* .pop-dim {
  transition: all 0.3s ease-in-out;
  filter: brightness(1);
}

.pop-dim:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.l-content-container .pop-dim:not(:hover) {
  filter: brightness(0.5);
} */
